.cart-container {
  padding: 40px 8%;
}

.cart-item {
  display: flex;

  justify-content: space-between;
  align-items: center;

  padding: 20px;

  margin-bottom: 20px;

  border-radius: 12px;

  box-shadow: 0 4px 15px
    rgba(0, 0, 0, 0.08);
}

.cart-left {
  display: flex;
  gap: 20px;
  align-items: center;
}

.cart-left img {
  width: 120px;
  height: 150px;

  object-fit: cover;

  border-radius: 10px;
}

.qty-box {
  display: flex;
  gap: 10px;

  align-items: center;

  margin-top: 15px;
}

.qty-box button {
  width: 35px;
  height: 35px;

  border: none;

  cursor: pointer;

  background: black;
  color: white;
}

.remove-btn {
  padding: 10px 20px;

  border: none;

  background: red;
  color: white;

  cursor: pointer;

  border-radius: 8px;
}

.cart-summary {
  text-align: right;

  margin-top: 40px;
}

.checkout-btn {
  padding: 15px 30px;

  border: none;

  background: green;
  color: white;

  cursor: pointer;

  border-radius: 8px;
}